<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="0; url=/de/" />
    <meta name="robots" content="noindex" />
    <title>Weiterleitung</title>
  </head>
  <body>
    <a href="/de/">Weiter zur Startseite</a>
  </body>
</html>
